# =====================================================
# GIT
# =====================================================

.git
.gitignore

# =====================================================
# PYTHON CACHE
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================================
# VIRTUAL ENV
# =====================================================

venv/
.venv/
env/
ENV/

# =====================================================
# IDE
# =====================================================

.idea/
.vscode/

# =====================================================
# TEST CACHE
# =====================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =====================================================
# LOGS
# =====================================================

*.log

# =====================================================
# SQLITE
# =====================================================

*.sqlite
*.db

# =====================================================
# TEMP
# =====================================================

tmp/
temp/

# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# ARDUINO
# =====================================================

arduino/

# =====================================================
# PYTHON BYTECODE
# =====================================================

*.py[cod]

# =====================================================
# NODE
# =====================================================

node_modules/

# =====================================================
# LOCAL OVERRIDE
# =====================================================

docker-compose.override.yml